/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans:wght@300&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Oxygen&family=Ubuntu:wght@300&display=swap');
/*font-family: 'Cantarell', sans-serif;*/
/*font-family: 'Oxygen', sans-serif;*/
/*font-family: 'Ubuntu', sans-serif;*/

/*font-family: 'Lato', sans-serif;*/
/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Poppins', sans-serif;*/

.footer{
  padding: 1rem;
  background-color: lightgray;
  bottom: 0;
  left: 0;
  width: 100%;
}
.newnav {
  background:transparent;
  font-family: 'Poppins', sans-serif;
}
.intro{
  font-family: 'Lato', sans-serif;
}
.subintro{
  font-family: 'Open Sans', sans-serif;
  background-color: #f3f3f3;
}
.projectSection{
  font-family: 'Cantarell', sans-serif;
}

.img_logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.sk{
  background-color: #eef1f4;
  font-family: 'Ubuntu', sans-serif;
}
.edu {
  font-family: 'Oxygen', sans-serif;
}
.ep{
  font-family: 'Oxygen', sans-serif;
  background-color: #e5e7e9;
}
.cl {
  background-color: #d5d8da;
}
