@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans:wght@300&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Oxygen&family=Ubuntu:wght@300&display=swap');
.footer{
  padding: 1.3rem;
  background-color: #3b4145;
  bottom: 0;
  left: 0;
  width: 100%;
}
.newnav {
  background:transparent;
  font-family: 'Poppins', sans-serif;
}
.intro{
  font-family: 'Lato', sans-serif;
}
.subintro{
  font-family: 'Open Sans', sans-serif;
  background-color: #f3f3f3;
}
.projectSection{
  font-family: 'Cantarell', sans-serif;
}

.img_logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.sk{
  background-color: #eef1f4;
  font-family: 'Ubuntu', sans-serif;
}
.edu {
  font-family: 'Oxygen', sans-serif;
}
.ep{
  font-family: 'Oxygen', sans-serif;
  background-color: #e5e7e9;
}
.cl {
  background-color: #d5d8da;
}
